@model EmlakSitesi.Models.Anasayfa.AnasayfaViewModel
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Anasayfa", "Index", "Profilim")</li>
                <li>@Html.ActionLink("İlan Ver", "IlanVer", "Profilim")</li>
                <li>@Html.ActionLink("Mesajlarim", "Mesajlar", "Profilim")</li>
                <li>@Html.ActionLink("Profilim", "Profil", "Profilim")</li>
                <li>@Html.ActionLink("Favorilerim", "Favoriler", "Profilim")</li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h4>Profil Ayarlarım</h4>
        <form action="">
            <div class="form-group">
                <label for="email">Ad Soyad</label>
                <input type="email" class="form-control" id="email" placeholder="Üye adı soyadı" name="email">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Üye email adresi" name="email">
            </div>
            <div class="form-group">
                <label for="email">Şifre</label>
                <input type="email" class="form-control" id="email" placeholder="Yeni şifrenizi giriniz" name="email">
            </div>
            <div class="form-group">
                <label for="email">Şifre Tekrar</label>
                <input type="email" class="form-control" id="email" placeholder="Yeni şifrenizi tekrar giriniz" name="email">
            </div>
            <button type="submit" class="btn btn-success">Kaydet</button>
        </form>
        <br />
    </div>

</body>
</html>